# pandas Series
1. Create pandas series with different `data types` in `different ways`
2. Find the `attributes` of Series of [10,30,40,1,3,6,14,18,23] with index starts from `100`
3. create salaries of `30 employee salaries randomly from 30000-90000` then `measure and describe` the data using pandas series.
4. What are the `similaraties` and `differences` between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [ ]:
Create pandas series with different data types in different ways

In [9]:
import pandas as pd

In [10]:
import numpy as np

In [11]:
# from list
age = list(range(30,50))

In [13]:
np.array(age)

array([30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
       47, 48, 49])

In [14]:
pd.Series(age)

0     30
1     31
2     32
3     33
4     34
5     35
6     36
7     37
8     38
9     39
10    40
11    41
12    42
13    43
14    44
15    45
16    46
17    47
18    48
19    49
dtype: int64

In [17]:
var = ("heena","ravali","hafsa","swetha") # from tuple

In [18]:
pd.Series(var)

0     heena
1    ravali
2     hafsa
3    swetha
dtype: object

In [21]:
var1 = np.random.randint(10,30,10)
var1 = pd.Series(var1,index=list(range(1,11)), dtype = "float16")

In [22]:
var1

1     13.0
2     11.0
3     12.0
4     11.0
5     16.0
6     10.0
7     24.0
8     12.0
9     28.0
10    16.0
dtype: float16

In [ ]:
Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [26]:
h = [10,30,40,1,3,6,14,18,23]
h1 = pd.Series(h,index = list(range(100,109)))

In [27]:
h1

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [28]:
h1.head() # attributes

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [31]:
h1.tail(2)

107    18
108    23
dtype: int64

In [33]:
h1.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [35]:
h1.ndim

1

In [36]:
h1.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [38]:
h1.size

9

In [ ]:
create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [39]:
salary = np.random.randint(30000,90000,30)

In [41]:
sal = pd.Series(salary)
sal

0     84284
1     71224
2     35365
3     61343
4     87875
5     86496
6     81101
7     39441
8     72678
9     89924
10    87316
11    79784
12    85205
13    57602
14    86558
15    87528
16    74669
17    85485
18    71716
19    80273
20    37498
21    35656
22    53956
23    72889
24    70824
25    31063
26    44829
27    35664
28    79540
29    41809
dtype: int32

In [42]:
sal.mean()

66986.5

In [43]:
sal.median()

72783.5

In [46]:
sal.mode()

0     31063
1     35365
2     35656
3     35664
4     37498
5     39441
6     41809
7     44829
8     53956
9     57602
10    61343
11    70824
12    71224
13    71716
14    72678
15    72889
16    74669
17    79540
18    79784
19    80273
20    81101
21    84284
22    85205
23    85485
24    86496
25    86558
26    87316
27    87528
28    87875
29    89924
dtype: int32

In [47]:
sal.max()

89924

In [48]:
sal.min()

31063

In [49]:
sal.std()

20093.842633400465

In [50]:
sal.var()

403762511.7758621

In [51]:
sal.quantile(0.25)

47110.75

In [52]:
sal.quantile(0.75)

84974.75

In [ ]:
What are the similaraties and differences between pandas series and nnumpy array.Prove it with cod

In [ ]:
* numpy is containing homogeneous data
* numpy dont give any index to the values

In [ ]:
* pandas are heterogenius
* pandas are give indexes to numbers

In [53]:
#numpy
salary = np.random.randint(20000,40000,10)
salary

array([20443, 29970, 32267, 22487, 39786, 23713, 39629, 34662, 24341,
       35057])

In [54]:
sal = pd.Series(salary,index=list(range(1,11))) # pandas

In [55]:
sal

1     20443
2     29970
3     32267
4     22487
5     39786
6     23713
7     39629
8     34662
9     24341
10    35057
dtype: int32

In [ ]:
create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [60]:
h1 = list(range(100,150))

In [61]:
h2 =  pd.Series(h1)

In [62]:
h2

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [63]:
h2[7]   # indexing

107

In [64]:
h2[1:7] # slicing

1    101
2    102
3    103
4    104
5    105
6    106
dtype: int64