In [1]:
import pandas as pd
import numpy as np

In [ ]:
Clean the data..i.e Missing values,Outliers, and type casting in best possible way.

In [2]:
df = pd.read_excel(r"C:\Users\heena\Downloads\Clean.xlsx")

In [3]:
df.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

# missing values

In [4]:
df.isnull().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [5]:
df["SepalLengthCm"].median()

5.8

In [6]:
df["SepalLengthCm"].fillna(df["SepalLengthCm"].median(),inplace = True) # using statistical measure

In [7]:
df["SepalWidthCm"].fillna(3.2,inplace = True)  # using value

In [8]:
df["PetalLengthCm"].fillna(method = "ffill", inplace = True) #using ffill method

C:\Users\heena\AppData\Local\Temp\ipykernel_10628\2355671068.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["PetalLengthCm"].fillna(method = "ffill", inplace = True)

In [11]:
df["Species"].mode()[0]

'Iris-versicolor'

In [12]:
df["Species"].fillna(df["Species"].mode()[0],inplace = True)

In [13]:
df.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# outliers

In [23]:
cond = (df['SepalLengthCm']<0.5)|(df['SepalLengthCm']>8)

In [24]:
sum(cond)

2

In [25]:
df[cond]

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
95,95,96,57.0,3.0,4.2,1,Iris-versicolor
117,117,118,77.0,3.8,6.7,2,Iris-virginica

In [55]:
df["SepalLengthCm"].median()

5.8

In [56]:
df["SepalLengthCm"] = np.where(cond,df["SepalLengthCm"].median(),df["SepalLengthCm"])

In [31]:
cond1 = (df["SepalWidthCm"]<0.5)|(df["SepalWidthCm"]>5.0)

In [32]:
sum(cond1)

1

In [33]:
df[cond1]

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
97,97,98,6.2,12.9,4.3,1,Iris-versicolor

In [35]:
df["SepalWidthCm"].median()

3.0

In [36]:
df["SepalWidthCm"] = np.where(cond1,df["SepalWidthCm"].median(),df["SepalWidthCm"])

In [39]:
cond2 = (df["PetalLengthCm"]<0.5)|(df["PetalLengthCm"]>7)

In [40]:
sum(cond2)

2

In [41]:
df[cond2]

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
81,81,82,5.5,2.4,37.0,1,Iris-versicolor
121,121,122,5.6,2.8,49.0,2,Iris-virginica

In [42]:
df["PetalLengthCm"].median()

4.4

In [43]:
df["PetalLengthCm"] = np.where(cond2,df["PetalLengthCm"].median(),df["PetalLengthCm"])

In [44]:
cond3 = (df["PetalWidthCm"]<0)|(df["PetalWidthCm"]>3)

In [46]:
sum(cond3)

0

In [51]:
sum((df["PetalLengthCm"]<0.5)|(df["PetalLengthCm"]>7))

0

In [57]:
sum((df['SepalLengthCm']<0.5)|(df['SepalLengthCm']>8))

0

In [54]:
sum((df["SepalWidthCm"]<0.5)|(df["SepalWidthCm"]>5.0))

0

# duplicate values

In [59]:
df.drop("Unnamed: 0",axis = 1,inplace = True)

In [61]:
df.drop("Id",axis=1,inplace=True)

In [62]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4             0  Iris-setosa
1            4.9           3.0            1.4             0  Iris-setosa
2            5.8           3.2            1.3             0  Iris-setosa
3            4.6           3.1            1.5             0  Iris-setosa
4            5.0           3.6            1.4             0  Iris-setosa

In [63]:
df.duplicated().sum()

18

In [64]:
df[df.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
17             5.1           3.5            1.4             0      Iris-setosa
34             4.9           3.1            1.5             0      Iris-setosa
37             4.9           3.1            1.5             0      Iris-setosa
42             5.8           3.2            1.3             0      Iris-setosa
45             4.8           3.0            1.4             0      Iris-setosa
132            6.4           2.8            5.6             2   Iris-virginica
142            5.8           2.7            5.1             1   Iris-virginica
144            6.7           3.3            5.7             2   Iris-virginica
150            6.1           2.9            4.7             1  Iris-versicolor
151            5.6           2.9            3.6             1  Iris-versicolor
152            6.7           3.1            4.4             1  Iris-versicolor
153            5.6           3.0            4.5             1  Iris-versicolor
154            5.7           2.6            3.5             1  Iris-versicolor
155            5.5           2.4            3.8             1  Iris-versicolor
156            5.4           3.9            1.7             0      Iris-setosa
157            4.6           3.4            1.4             0      Iris-setosa
158            6.4           3.2            5.3             2   Iris-virginica
159            6.5           3.0            5.5             1   Iris-virginica

In [65]:
df.drop_duplicates(keep = "first",inplace = True)

In [66]:
df.duplicated().sum() # therse is no duplicate values

0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float64
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    int64
 4   Species        142 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 6.7+ KB

# type casting

In [68]:
df["SepalLengthCm"] = df["SepalLengthCm"].astype("float16")

In [69]:
df["SepalWidthCm"] = df["SepalWidthCm"].astype("float16")

In [72]:
df["PetalLengthCm"] = df["PetalLengthCm"].astype("float16")

In [73]:
df["PetalWidthCm"]  = df["PetalWidthCm"].astype("int32")

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float16
 1   SepalWidthCm   142 non-null    float16
 2   PetalLengthCm  142 non-null    float16
 3   PetalWidthCm   142 non-null    int32
 4   Species        142 non-null    object
dtypes: float16(3), int32(1), object(1)
memory usage: 3.6+ KB