
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.


   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

In [1]:
c = lambda x,y : x+y

In [2]:
c(7,8)

15

In [3]:
c = lambda n : n**0.5

In [4]:
c(7)

2.6457513110645907

In [5]:
c = lambda n: sum(n)

In [6]:
list1 = [1,2,3,4,5,6,7,7]

In [7]:
c(list1)

35

In [20]:
c = lambda n : n**0.5

In [23]:
list1

[1, 2, 3, 4, 5, 6, 7, 7]

In [27]:

square = lambda n: n** 2
for i in list1:
    result = square(list1)
    print(f"The square of {list1} is {result}")

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists

In [40]:
def even(n):
    if n%2==0 :
        return n

In [41]:
list2 = [2,3,4,5,6,7]

In [42]:
list(filter(even,list2))

[2, 4, 6]

In [43]:
def numbers(n):
    if n >10 :
        return n

In [44]:
list3 = [10,11,2,13,7,14,7]

In [45]:
list(filter(numbers,list3))

[11, 13, 14]

In [32]:
list(filter)

TypeError: 'type' object is not iterable

Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

In [16]:
def name(n):
    if values(int==0):
        return n

In [17]:
values

['1', '5', '6', '7']

In [19]:
var = list(map(int,values))

In [20]:
var

[1, 5, 6, 7]

In [24]:
def name(n):
        return n**0.5

In [26]:
var1 = list(map(name,var))

In [27]:
var1

[1.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907]

Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example:  [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]
Use the filter function to create a new list that contains only the people who are older than 25.
Use the map function to create a new list that contains the names of the filtered people.
Print the list of names.
Create a program that reads a list of numbers from the user (you can use the input function for this).

In [3]:
dictionary = [{"name":"heena","age":24},{"name":"ravali","age":25},{"name":"nikitha","age":30}]

In [4]:
def name(n):
    if n["age"]>25:
        return n
dictionary =  [{"name":"heena","age":24},{"name":"ravali","age":25},{"name":"nikitha","age":30}]
list(filter(name,dictionary))

[{'name': 'nikitha', 'age': 30}]

In [7]:
def name(n):
    if {"name":n["name"]}:
        return n
list(map(name,dictionary))

[{'name': 'heena', 'age': 24},
 {'name': 'ravali', 'age': 25},
 {'name': 'nikitha', 'age': 30}]

Class task
take combination of int floats string, print only float, print only int
replace int values with "Integer"
replace str with "String"
replace float value with" float"

In [13]:
def comb(n):
    if type(n)==int:
        return n
n = [1,2,3,4.4,5.5,"heena","hafsa"]
list(filter(comb,n))

[1, 2, 3]

In [14]:
def comb(n):
    if type(n)==float:
        return n
n = [1,2,3,4.4,5.5,"heena","hafsa"]
list(filter(comb,n))

[4.4, 5.5]

In [15]:
def comb(n):
    if type(n)==str:
        return n
n = [1,2,3,4.4,5.5,"heena","hafsa"]
list(filter(comb,n))

['heena', 'hafsa']